.root {
    -fx-background-color: bisque;
    -fx-padding: 10;
    -fx-font-size: 16;
    -fx-font: "Century Gothic", Futura, sans-serif;
}
body {
    background-color: bisque;
    font: 30px "Century Gothic", Futura, sans-serif;
    padding: 100px;
}
img{
    width: auto;
    height: auto;
 }

